*,
*::before,
*::after {    
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    width: 100vw;
    padding: 0 20px;
    background-color: #fff;
    display: block;
    border-bottom: 1px solid #E3E7EE;
}

.logo{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 20px 0;
}

.navitems {
   display: block; 
}
.navitems > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 0;
}

.navitems > a:hover {
    font-weight: 500;
    transition: all ease-in-out 1s;
}

.content {
    padding: 0 20px;
}

.banner {
    display: block;
    padding-top: 100px;
}

.banner > h1 {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}
.desktop-paragraph {
    display: none;
}

.mobile-paragraph {
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
}
.portfolio > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
@media (min-width: 768px) {
    .navbar {
            width: 100vw;
            height: 80px;
            padding: 0 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navitems {
            display: flex; 
         }
         .navitems > a {
            padding: 20px 20px;
        }
        .logo{
            padding: 20px 0;
        }

        .content {
            padding: 0 48px;
        }

        .banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 180px;
        }

        .banner > h1 {
            font-size: 40px;
        }

        .desktop-paragraph {
            padding-top: 0;
            display: block;
        }
        .mobile-paragraph {
            display: none;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 48px;
        }
}






